<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanıtım</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <style>
     body{
         background-color:lightpink;
     }
        header{
            background-color:hotpink;
            padding:10px;
        }
        a{
            color:white;
            padding:10px;
            font-family: "Great Vibes", cursive;
        }
        h1{
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        p{
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        footer{
            text-align:center;
            background-color:hotpink;
            padding:10px;
        }
        h3{
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
    </style>
</head>
    <body>
     <header>
       <div>
            <img src="logo.jpg" width="100"height="100" style="border-radius:50%;">
            <a href="/"> Anasayfa </a>
            <a href="/information"> Tanıtım </a>
            <a href="/player"> Kadro </a>
            <a href="/recommendation"> Öneri </a>
            <a href="/iletisim"> İletişim </a>
</div>
</header>

        <h1> THE MIRACLE </h1><br>

        <img src="mirac.jpeg" width="500" style="border-radius:25%;">

        <p> Orijinal İsmi: My Secret Diary - Deo Milakeul
            Yayın Tarihi: 12 Aralık 2016
            Süre: 13dk
            Tür: Dram, Komedi
            Yönetmen: Kwon Jin-Mo
            Senarist: Ahn Aho-Kyung
            Yapımı: 2016 - Güney Kore
            Sezon: 1</p><br>
        <h3> DİZİ KONUSU </h3><br>
        <p> İki ikiz kardeşten biri olan, Kwon Si Ah (Kim Na Hyun) ünlü bir oyuncu, model ve idoldür. Kwon Si Yeon (Hong Yoon Hwa) ise kız kardeşinin iki katı ağırlığa sahiptir bu yüzden Si Yeon blog açmaya ve evden hiç ayrılmamaya karar vermiştir. Ama bir gün uyandıklarında ruhlarının değiştiğini fark ederler.
</p><br><br>
        <footer>
            <p> Bu sayfa Linda'ya aittir &copy; 2024</p>
        </footer>
    </body>
    