<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <style>
        body{
            background-color:lightpink;
        }
        header {
            background-color:hotpink;
            padding:10px;
        }
        a{
            color:white;
            padding:10px;
            font-family: "Great Vibes", cursive;
        }
        footer{
            background-color:hotpink;
            text-align:center;
            paddig:10px;
        }
        p {
            color:white;
            font-family: "Great Vibes", cursive;
        }
        h1{
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        
    </style>
</head>
<body>
<header>
 <div>
     <img src="logo.jpg" width="100"height="100" style="border-radius:50%;">
 <a href="/"> Anasayfa </a>
 <a href="/information"> Tanıtım </a>
 <a href="/player"> Kadro </a>
 <a href="/recommendation"> Öneri </a>
 <a href="/iletisim"> İletişim </a>
</div>
</header>
<br><br>
    <h1> THE MIRACLE </h1>
    <br>
<img src="miracle.jpg" style="margin-left:10px,margin-right:10px;">
    <img src="mir.jpeg"style="margin-left:10px">
    <video width="500" height="400"controls , loop , 
        autoplay>
        <source src="miracle.mp4">
    </video>

    <footer>
        <p> Bu sayfa Linda'ya aittir &copy; 2024</p>
    </footer>
</body>