<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öneri</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <style>
        body {
            background-color:lightpink;
        }
        header {
            background-color:hotpink;
            padding:10px;
        }
        a {
            color:white;
            padding:10px;
            font-family: "Great Vibes", cursive;
        }
        h1 {
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        h3 {
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        p{
            color:white;
            text-align:center;
            font-family: "Great Vibes", cursive;
        }
        footer{
            background-color:hotpink;
            padding:10px;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="logo.jpg" width="100"height="100" style="border-radius:50%;">
            <a href="/"> Anasayfa </a>
            <a href="/information"> Tanıtım </a>
            <a href="/player"> Kadro </a>
            <a href="/recommendation"> Öneri </a>
            <a href="/iletisim"> İletişim </a>
        </div>
    </header>

    <h1> DİZİ ÖNERİLERİ LİNDA'DAN </h1>
    <br><br>
    <h3> BACKSTREET ROOKIE </h3><br>
    <a href="https://yabancidizi.tv/dizi/backstreet-rookie">
    <img src="rook.jpeg"width="500"style="border-radius:25%;"></a><br>
    <p> 
    Backstreet Rookie dizisinde, tüm gün açık olan bir marketin sahibi Choi Dae-Hyun ile orada part time çalışan Jung Saet-Byeol arasındaki romantik ilişki konu ediliyor.Choi Dae-Hyun, iyi bir görünüme sahiptir ayrıca çok da sakar biridir.Geçmişte önemli bir firmada önemli bir pozisyonda çalışmıştır.Jung Saet-Byeol, lise dönemini büyük yaramazlıklar yaparak geçirmiştir.Şimdilerde oturaklı,ağırbaşlı bir üniversite öğrencisidir.İkili, Jung Saet-Byeol’un liseli olduğu dönemde tesadüfen tanışsa da yolları tekrar 4 sene sonra aynı iş yerinde kesişecektir.</p>
    <br>
    <h3> WEIGHTLIFTING FAIRY KIM BOK JOO </h3>
    <br>
    <a href="https://www.dizigom1.tv/weightlifting-fairy-kim-bok-joo-1-sezon-1-bolum-hd1/">
    <img src="weight.jpeg" width="500"style="border-radius:25%;"></a><br>
    <p> Lee Sung-kyung dizide Kim Bok-joo rolünde yer alıyor. Başarılı ve hırslı bir halterci olan Kim Book Joo, gücünü eski bir sporcu olan babasından alıyor. Kim Bok-joo, neşeli ve haksızlığa uğradığında her koşulda hakkını arayan bir kız. Bazen öfkesine hakim olamayıp kavgalara karışan erkek gibi bir kızdır. Kim Bok-Joo, babası ve amcası ile birlikte yaşamaktadır. Babası tavukçudur. ￼Nam Joo-hyuk dizide Jung Joon-hyung rolünde yer alıyor. Kim Book Joo ile aynı spor akademisine giden Joon Hyung, çok yetenekli olmasına rağmen şansı pek iyi gitmeyen yakışıklı bir yüzücüdür. Hayatındaki zorluklara rağmen neşesinden bir şey kaybetmeyen biridir. Jeong Joon-Hyung, yengesi, amcası ve kuzeni ile birlikte yaşamaktadır. Yenge ve amcasının eczaneleri var. Hikayede bu 2 yüzücünün arasında geçen çatışmalar, sırlar ve tabii aşk üzerinde başlar. Jung Joon Hyung, halterci Kim Book kızımıza aşık olur. Kim Book, babasının hayalini gerçekleştirmeye kendini o kadar çok adamıştır ki Joo ile karşılaşana dek aşkın ne olduğu konusunda en ufak bilgisi ve deneyimi yoktur. Altın madalyayı kazanmak için her gün sert antrenmanlar yapan Kim Book’un hayatı, yağmurlu bir günde karşılaştığı Joon Hyung ile değişir.</p><br>
    <h3> MY ABSOLUTE BOYFRIEND </h3><br>
    <a href="https://asyafanatiklerim.com/bolum/my-absolute-boyfriend-1-ve-2-bolum-izle-v2/">
    <img src="myab.jpg" width="500" style="border-radius:25%;"></a><br>
    <p> Yedi senelik bir ilişkiyi kötü şekilde sonlandıran bir kadının (Minah), kalbinin kapılarını herkese kapattığı dönemde karşısına çıkan kusursuz bir erkeğe aşık olmasını konu alıyor. Kusursuz çünkü Yeo Jin-Go ismindeki bu karakter aslında bir robot. Aşk acısı çeken Minah her ne kadar istemese de bir hafta robotla yaşamak zorunda kalıyor. Zamanla robot karaktere aşık oluyor.</p><br><br>

    <footer>
        <p> Bu sayfa Linda'ya aittir &copy; 2024</p>
    </footer>
</body>