<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> İletişim </title>
    <style>
       body {
         background-image:url("bugün.webp");
       }
      header {
        background-color:papayawhip;
        padding:10px;
      }
      a {
        color:green;
        padding:15px;
      }
      p {
        color:green;
        text-align:center;
      }
      label {
        color:green;
        background-color:papayawhip;
        margin-right:10px;
      }
      button {
        background-color:papayawhip;
        color:green;
        border-radius:50%;
        border-color:green;
        padding:10px;
      }
      select {
        background-color:papayawhip;
        color:green;
        padding:10px;
        margin-right:10px;
        border-radius:25%;
      }
      footer {
        background-color:papayawhip;
        padding:10px;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logo.jpg" width="50" height="50" style="border-radius:50%;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/blogs"> Blog Yazıları </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
    <br><br>

    <form action="/submitform" method="POST">
      <label for ="name"> Adınız : </label>
      <input type="text" id="name" name="name" required>
      <br><br>
      <label for ="surname"> Soyadınız :</label>
      <input type="text" id="surname" name="surname" required><br><br>
      
      <label for ="age"> Yaşınız : </label>
      <input type="number" id="age" name="age" required><br><br>
      
      <label for ="email"> Emailiniz :</label>
      <input type="email" id=email name="email" required><br><br>
      
      <label for ="phone"> Telefon Numaranız :</label>
      <input type="tel" id="phone" name="phone" placeholder="(555-555-5555)"><br><br>
     
      <label for ="message"> Mesajınız :</label><br>
      <textarea type ="message" id="message" name="message" rows="5" columns="30" required></textarea><br><br>
      <button type="submit"> Gönder </button><br><br>
    </form>

    <footer>
      <p> Bu Sayfa LİNERA'ya aittir. &copy; 2024 </p>
    </footer>
  </body>