<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hakkında </title>
    <style>
      body {
        background-image:url("bugün.webp")
      }
      header {
        background-color:papayawhip;
        padding:10px;
      }
      a {
        color:green;
        padding:10px;
      }
      footer{
        background-color:papayawhip;
        padding:10px;
      }
      p {
        color:green;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logo.jpg" width="50"height="50">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/blogs"> Blog Yazıları </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>

    <br>
    <img src="çizgi.jpg" width="100" height="100">
    <img src="çizgi2.jpeg" width="400" height="100">
    <p> Ad : Edanur </p>
    <p> Soyad : Gül </p>
    <p> Yaş : 24 </p>
    <p> Bölüm : Yazılım Mühendisliği </p><br>

    <p> Küçüklüğümden beri Güney Kore ile ilgiliyim ve bu bloğu da benim gibi asya ülkelerinden herhangi biriyle ilgilenenler için bir kaynak olması açısından oluşturdum. Ayrıca sizlerle sahip olduğum deneyimleri ve araştırma sonuçlarımı paylaşmak istiyorum. </p>
    <br>
  <p> Daha henüz gezme fırsatım bulunmasa da elimden geldiğince yardımcı olmaya çalışacağım. </p>
    <br>

    <footer>

      <p> Bu Sayfa LİNERA'ya aittir. &copy; 2024 </p>
      
    </footer>
  </body>
</html>
