<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <style>
      body {
        background-image:url("bugün.webp");
      }
      header {
        background-color:papayawhip;
        padding:10px;
      }
      a {
        color:green;
        padding:10px;
      }
      footer {
        background-color: papayawhip;
        padding:10px;
      }
      p {
        color:green;
        text-align:center;
      }
    </style>
  </head>

  <body>
   <header>
     <div>
       <img src="logo.jpg" width="50" height="50" style="border-radius:50%;">
       <a href="/"> Anasayfa </a>
       <a href="/know"> Hakkında </a>
       <a href="/blogs"> Blog Yazıları </a>
       <a href="/iletisim"> İletişim </a>   
     </div>
   </header>
   <br><br>
    <main>

       <a href="/blogs">
         <img src="kore.jpg" width="510">
         <p> GÜNEY KORE </p>
       </a>

      <br><br>

      <a href="/blogs">
        <img src="japonya.jpg" width="510"height="200" >
        <p> JAPONYA </p>
      </a>

      <br><br>

      <a href="/blogs">
        <img src="taylan.jpg" width="510" height="200">
        <p> TAYLAND </p>
      </a>

      <br><br>

      <a href="/blogs">
        <img src="malez,.jpg" width="510"height="200">
        <p> MALEZYA </p>
      </a>

      <br><br>

      <a href="/blogs">
        <img src="endonezya.jpg"width="510"height="200">
        <p> ENDONEZYA </p>
      </a>
    </main>
 <br>
    <footer>

      <p> Bu Sayfa LINERA'ya aittir &copy; 2024 </p>
      
    </footer>
  </body>
</html>