<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <style>
        header {
            background-color: darkgoldenrod;
            padding: 10px;
        }
        a {
            color:beige;
            padding: 10px;
        }
       body {
           background-image:url("White Modern Minimalist Signature Brand Logo.jpg");
       }
        footer{
            background-color:darkgoldenrod;
            padding:10px;
        }
        h1 {
            text-align:center;
            color: orange;
        }
        p {
           text-align:center;
           color: darkgoldenrod;
           
       }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="Pink Watercolour Flower Shop Logo.jpg" width="50" height="50">
            <a href="/">Anasayfa</a>
            <a href="/know">Hakkımızda</a>
            <a href="/urunler">Ürünlerimiz</a>
            <a href="/iletisim">İletişim</a>
        </div>
    </header>
    <main>
        <h1> GÜLENDA </h1>
        <p> Gülenda 2028 yılında Edanur Gül tarafından kurulmuştur. İçeriğinde sadece giyim değil aynı zamanda ayakkabı, çanta ve takı ürünleri de bulunduran bir markadır. Bünyesinde giyim üzerine, ayakkabı, çanta ve takı tasarımı üzerine profesyonel çalışanlar barındırmaktadır.</p>
        <p> Gülenda şuan aktif bir şekilde işlevini sürdürmektedir.Üye olabilir ve üyelere özel fırsatlardan yaralanabilirsiniz ya da üye olmadan da alışveriş deneyimi elde edebilirsiniz. </p>
        <h1> EDANUR GÜL ?</h1>
        <p> Edanur Gül 2000 yılında İstanbul'da doğdu. İlkokuldan üniversiteye kadarki eğitimerini İstanbul'da tamamladı. 2026 yılında yüksek lisans için Güneykore'ye gitti. İyi bir şirketten güzel bir teklif aldı ve şuan uzaktan o şirkette çalışmalarını yapıyor. Ek olarak kafasına zaman zaman gelen ama üzerine ciddi olarak çok düşünmediği kendi markasını çıkarmak fikri üzerine ciddi bir şekilde düşündü ve 2028 yılında ilk adımlarını attı. Tabi ki o zamanlar bu yola tek başına çıkmıştı ama şuan yanında bu markanın çokça büyümesinde büyük katkıları olan ortakları ve çok sevdiği çalışanları var. Onlar büyük bir aile oldular.İşte Gülenda'nın ilk kurucusunun hayatı bu şekilde gelişti.</p>
        <p> Tercihinize göre ürünleri ürünlerimiz sayfasından bulabilirsiniz. </p>
    </main>
    <footer>
        <a href="/kayit"> Kayıt Ol</a>
        <a href="/uye"> Giriş</a>
    </footer>
</body>
</html>