<!DOCTYPE html>
  <html lang="tr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ANASAYFA</title>
      <style>
        header {
          background-color: darkgoldenrod;
          padding: 10px;
        }
        body {
          background-image:url("White Modern Minimalist Signature Brand Logo.jpg");
        }
        a {
          color: beige;
          padding: 10px;
        }
       h1 {
         color:darkgoldenrod;
       }
        
        footer {
          background-color:darkgoldenrod;
          padding:10px;
        }
      </style>
  </head>
    <body>
      <header>
       
        <div>
        <img src="Pink Watercolour Flower Shop Logo.jpg" width="50" height="50">
        <a href="/">Anasayfa</a>
        <a href="/know">Hakkımızda</a>
        <a href="/urunler">Ürünlerimiz</a>
        <a href="/iletisim">İletişim</a>
        </div>
        
      </header>
    <main>
      <p><h1>GÜLENDA'YA HOŞGELDİNİZ! 
         KEYİFLİ ALIŞVERİŞLER!</h1>
         </p><br><br><br><br>
      <br><br>
      <div class="img">
      <img src="moda.jpeg" width="150" height="100" style="margin-right:20px; border-radius:25%;">
      <img src="mod.jpeg" width="150" height="100" style="margin-right:20px; border-radius:25%;">
      <img src="giyim.jpeg" width="150" height="100"style="border-radius:25%;">
      </div>
    </main>
      <br><br>
      <footer>
        <a href="/kayit"> Kayıt Ol</a>
        <a href="/uye"> Giriş</a>
      </footer>
    </body>
</html>