<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KayıtOl</title>
    <style>
     header {
       background-color:darkgoldenrod;
       padding:10px;
     
     }
      a {
        color:beige;
        padding: 10px;
      }
      body {
        background-image:url("White Modern Minimalist Signature Brand Logo.jpg");
      }
      footer {
        background-color:darkgoldenrod;
        padding:10px;
        
      }
      h1{
        color:darkgoldenrod;
      }

      h3{
        color:darkgoldenrod;
      }

      
    </style>
  </head>
  <body>
   <header>
    <div>
     <img src="Pink Watercolour Flower Shop Logo.jpg" width="50" height="50">
     
     <a href="/"> Anasayfa </a>
     <a href="/know"> Hakkımızda </a>
     <a href="/urunler"> Ürünlerimiz </a>
     <a href="/iletisim"> İletişim </a>
      </div>
</header>

    <main>

      <h1> ÜRÜNLERİMİZ </h1>

      <h3> GİYİM </h3>
      <img src="giyim1.jpeg" width="100" height="100"style="margin-right:10px;">
      <img src=""
        <img src="giyim4.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="giyim3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="giyim5.jpeg" width="100" height="100">
      <img src="giyim6.jpeg" width="100" height="100"style="margin-right: 10px;">
      <img src="giyim7.jpeg" width="100" height="100" style = "margin-right:10px;">
      <img src="sweat1.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="sweat2.jpg" width="100" height="100">
     
      <img src="sweat3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="skirt.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="skirt2.jpeg" width="100" height="100"style ="margin-right:10px;">
      <img src="skirt3.jpeg" width="100" height="100">
      
      <img src="kaban.jpeg" width="100" height="100"style="margin-right:10px;">
      <img src="kaban2.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="kaban3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="ceket1.jpeg" width="100" height="100">
      
      <img src="ceket2.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="ceket3.jpeg" width="100" height="100">
     <br><br>
      <h3> Ayakkabı </h3>
      
      <img src="ayak1.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="ayak3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="ayak5.jpg" width="100" height="100">

      <br><br>
      <h3> Çanta </h3>
      
      <img src="çanta1.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="çanta2.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="çanta3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="çanta4.jpeg" width="100" height="100">
      <img src="çanta5.jpg" width="100" height="100">
    <br><br>
      <h3> Aksesuar </h3>
      <img src="takı1.jpeg" width="100" height="100" style="matgin-right:10px;">
      <img src="takı2.jpeg" width="100" height="100"style="margin-right:10px;">
      <img src="takı3.jpeg" width="100" height="100" style="margin-right:10px;">
      <img src="takı4.jpeg" width="100" height="100">
      
    </main>
    <br><br>
    <footer>

      <a href="/kayit"> Kayıt Ol </a>
      <a href="/uye"> Giriş </a>

      
    </footer>

    
  </body>







  
</html>