<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> İngilizce </title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      body {
        background-color:rebeccapurple;
      }
      header {
        background-color:purple;
        padding:10px;
      }
      a {
        color: floralwhite;
        padding:10px;
        font-family: "Poppins", sans-serif;
      }
      img {
        margin-left:30px;
        border-radius:50%;
        border-style:solid;
        border-color:rebeccapurple;
      }
      p {
        color:floralwhite;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      footer{
        background-color:purple;
        padding:10px;
      }
      #footer {
        background-color:purple;
        padding:10px;
      }
      h1 {
        color: floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h3 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logom.jpg" width="100" height="100" style="border-radius:50%; border-color:purple; border-style:solid; border-width:4px;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/projects"> Projeler </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
  <br><br>
    <h1> ÖRNEK ÇEVİRİ PROJESİ </h1><br>
    <h2> GÜZEL KARŞILIK-رد الجمــــــــــــــــيل</h2><br><br>

    <p> Semir tüm insanlara iyilik yapmayı seviyordu insanlara karşı davranışında ve tanıdık veya yabancı olsun ayırım yapmıyordu.O keskin ve olağanüstü zekası ile biliniyordu. 11 yaşını geçmemiş olmasına rağmen evine gittiğinde onu orada hazır bulabilirsin… Seni sanki uzun süreden bu yana tanıyormuş gibi karşılar.
      En güzel şekilde konuşur ve karşılar, kendisini topluma ve ailesine karşı görevler yapmak, en güzel ve faydalı işler sunmak zorunda hissediyordu (görüyordu).
      Ve herkesin ona saygıyla bakmasını sağlayan bu büyük tutumunu (muhteşem davranışını) unutmayacaktı.
      Semir bir gün evin etrafında yorgunluktan nefes nefese kalan bir köpek gördü, onu (bu şekilde) bırakmayı istemedi (razı olmadı)
      Ona yemek ve içecek sundu daha sonra da günlük olarak köpeğin iyileştiğini hissedinceye kadar buna devam etti, (köpek) sağlığına kavuşmaya ve (vücudu) büyümeye başlamıştı.
      Sonra onu kendi haline bıraktı…(Semir) zayıflığını ve bu hale gelişini şikayet edemeyen, konuşamayan ve kimseye eziyet etmemiş olan bu hayvana karşı insanlık görevini (hizmetini) yapmaktan dolayı mutlu oldu.
      Semir, babasının çiftliğinde kendisi için de masum bir eğlence olan bir tavuğa büyütüyor, önem veriyor, yemeği ve bakımı ile ilgileniyordu.
      Bir gün tavuklar kafesten uzağa gittiler.
      Aile, çiftliğe bakan camın önüne toplandıve korkarak kaçan tavukların arkasından koşan onları yakalamak isteyen büyük bir kurt gördüler.
      Ve aniden…Günlerden bir gün Semir’in iyilik yapmış olduğu köpek ortaya çıktı
      Kurda sadırdı ve aralarında bir öfkeli bir savaş başladı, sonra kurt kaçtı,
      Vefalı köpek onu köyden uzaklaştırıncaya kadar takip etti, Semir küçük köpeğe yaptıklarını düşünmeye başladı ve işte ona yaptıklarının karşılığı bugün ona geri dönüyordu
      Semir, kim iyilik yaparsa bunun kaybolmayacağını anladı…
      Semir çiftliğe indi (gitti), köpeğe teşekkür etti ve onun yaptığına ödül olarak (ona) bir parça büyük et verdi (sundu, takdim etti)
      Sonra sanki güzel bir kutlamadaymış gibi birbirileriyle oynayan tavuklara baktı.
</p><br><br>

    <h3> ARAPÇA VERSİYON </h3><br><br>

    <p> كان سمير يحب أن يصنع المعروف مع كل الناس ، ولايفرق بين الغريب والقريب فــي معاملته الانسانية ..
      فهو يتمتع بذكاء خارق وفطنة . فعندما يحضر الى منزله تجده رغم عمره الذي لا يتجاوز الحادية عشرة .. يستقبلك ، وكأنه يعرفك منذ مدة طويلة ..
      فيقول أحلى الكلام ويستقبلك أحسن استقبال وكان الفتى يرى في نفسه أن عليه واجبات كثيرة نحو مجتمعه وأهله ، وعليه أن يقدم كل طيب ومفيد.
      ولن ينسى ذلك الموقف العظيم الذي جعل الجميع ينظرون اليه نظرة إكبار ..
      ففي يوم رأى سمير كلبا يلهث من التعب بجوار المنزل. فلم يرض أن يتركه..
      وقدم له الطعام والشراب وظل سمير يفعل هذا يوميا ، حتى شعر بأن الكلب الصغير قد شفيّ ، وبدأ جسمه يكبر ، وتعود اليه الصحة.
      ثم تركه الى حال سبيله .. فهو سعيد بما قدمه من خدمة إنسانية لهذا الحيوان الذي لم يؤذ أحدا ولا يستطيع أن يتكلم ويشكو سبب نحوله وضعفه.
      وكان سمير يربي الدجاج في مزرعة أبيهويهتم به ويشرف على عنايته وإطعامهوكانت تسلية بريئة له.
      وذات يوم إنطلقت الدجاجات بعيدا عن القفص.
      وتجمعت الأسرة أمام النافذة التي تطل على المزرعة ..
      وشاهدوا ذئبا كبير الحجم ، وهو يحاول أن يمسك بالدجاجاتو يجري خلفها ، وهي تفر خائفة مفزعة.
      وفجأة .. ظهر ذلك الكلب الذي كان سمير قد أحسن اليه في يوم من الأيام ..
      و هجم على الذئب وقامت بينهما معركة حامية .. وهرب الذئب ،
      وظل الكلب الوفي يلاحقه حتى طرده من القريةوأخذ سمير يتذكر ما فعله مع الكلب الصغيروهاهو اليوم يعود ليرد الجميل لهذا الذي صنع معه الجميل ذات يوم ،
      وعرف سمير أن من كان قد صنع خيرا فإن ذلك لن يضيع ..
      ونزل سمير الى مزرعته ، وشكر الكلب على صنيعه بأن قدم له قطعة لحم كبيرة جائزة له على ما صنعه..
      ثم نظر الى الدجاجات ، فوجدها فرحانة تلعب مع بعضها وكأنها في حفلة عيد جميلة
</p><br><br>
    <footer>
      <div class="footer">
        <a href="https://www.instagram.com/">
          <img src="instagram.jpeg" width="50" height="50" style="border-radius:50%;border-style:solid; border-width:6px;">
          <a href="https://tr.linkedin.com/">
            <img src="linkedin.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">  
          </a>
        <a href="https://web.whatsapp.com/">
          <img src="whatsapp.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">
        </a>
        </div>
    </footer>
  </body>
</html>
    