<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cilt Bakımı </title>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <style>
      body{
        background-color:lightcoral;
      }
      header {
        background-color:ghostwhite;
        padding:10px;
      }
      a {
        color:lightcoral;
        padding:5px;
        font-family: "Pacifico", cursive;
      }
      p {
        color:white;
        text-align:center;
        font-family: "Nerko One", cursive;
      }
      footer {
        background-color:ghostwhite;
        padding:10px;
      }
      h1 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      h2 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      h3 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      #p1,#p2,#h1,#h2{
        color:lightcoral;
        background-color:ghostwhite;
        font-family: "Nerko One", cursive;
      }
      label {
        color:lightcoral;
        background-color:ghostwhite;
        margin-right:5px;
        font-family: "Nerko One", cursive;
      }
      button {
        padding:10px;
        color:lightcoral;
        background-color:ghostwhite;
        border-width:5px;
        border-color:lightcoral;
        border-radius:50%;
        font-family: "Nerko One", cursive;
      }
      #p3 {
        color:lightcoral;
        padding:10px;
        font-family: "Nerko One", cursive;
      }
      #h3,#h4 {
        background-color:ghostwhite;
        color:lightcoral;
        font-family: "Pacifico", cursive;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="3.jpg" width="70" height="70" style="border-radius:50%">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <img src="3.jpg"width="70" height="70" style="border-radius:50%;">
        <a href="/login"> Giriş </a>
        <a href="/signin"> Üye Ol </a>
      </div>    
    </header>

    <br><br>
    <img src="pp.jpg" width="150"height="150" style="border-radius:40%;display:block;margin-left:auto;margin-right:auto;"><br><br>

    <p> Merhaba! Ben Ayşın, profesyonel bir güzellik uzmanıyım.

    Güzellik ve cilt bakımı konusundaki tutkum, birkaç yıl önce bu sektöre adım atmamla başladı. O zamandan beri, cilt bakımından makyaja, manikürden saç şekillendirmeye kadar geniş bir yelpazede hizmet sunarak, müşterilerime kendilerini en iyi şekilde hissettirecek çözümler sunuyorum.

    Uzmanlık alanım, cilt analizi ve kişiye özel cilt bakım rutini oluşturmaktır. Cilt tipinize ve ihtiyaçlarınıza en uygun ürünleri seçmek ve en etkili tedavi yöntemlerini uygulamak konusunda deneyimliyim. Ayrıca, özel günler için makyaj hizmeti ve profesyonel danışmanlık sunarak, her müşterimin kendine olan güvenini artırmayı hedefliyorum.

    Eğitimim boyunca pek çok sertifika programına katıldım ve yenilikçi teknikleri yakından takip ediyorum. Amacım, müşterilerimin güzellik ihtiyaçlarını karşılamak ve onlara kendilerini iyi hissettirecek bir deneyim sunmak.

    Güzelliğin her bireyin kendine özgü olduğuna inanıyorum ve bu yüzden her müşterime bireysel olarak yaklaşarak, onların kendilerini en iyi şekilde ifade etmelerine yardımcı oluyorum. Sizi de güzellik yolculuğunda desteklemekten mutluluk duyarım!

</p>
    <p> CheeryBlossom Güzellik Merkezi olarak bünyemizde bulunan birden fazla bu alanda profesyonelleşmiş arkadaşlarımız ile bu sektörde yer edinmiş bulunmaktayız. </p>
    <br>

    <p> CheeryBlossom yaklaşık dört yıl önce temelleri atılmış bir işletme olup şuan en çok tercih edilen kuruluşlardan biri konumunda.</p>
   <br>
    
    <p> Bazı müşterilerimizin işletmemiz hakkıdaki yorumlarına aşağıdan ulaşabilirsiniz: </p><br><br>

    <h2 id="h2"> ^nane :</h2>
    <p id="p1"> CheeryBlossom gerçekten de bir harika. Çalışanların tavırlarından profesyonelliğine kadar bayıldım. Herkese öneriyorum. </p><br><br>

    <h2 id="h1"> ^blend :</h2>
    <p id="p2"> Harika bir yer,tüm arkadaşlarıma tavsiye ettim.</p><br><br>

    <h2 id="h3"> Sizin Sorularınız</h2><br>
    <h3 id="h4"> Eğer Sorularınız Varsa Aşağıdan İletişime Geçebilirsiniz</h3><br><br>
    <form action="/submitform" method="POST">
       <label for="name" > Adınız:</label>
       <input type="text" id="name" name="name"required><br><br>
       <label for="surname"> Soyadınız: </label>
       <input type="text" id="surname" name="surname"required><br><br>
       <label for="email"> E-Mailiniz:</label>
       <input type="email" id="email" name="email"required><br><br>
       <label for="message"> Sorularınız:</label><br><br>
       <textarea type="message" id="message" name="message" rows="5" columns="30"required></textarea><br><br>

       <button type="submit">Gönder </button>
     </form>
     <br><br>
     <footer>
       <p id="p3"> Bu Sayfa CherryBlossom kuruluşuna aittir. &copy; 2024 </p>
     </footer>
  </body>
</html>