<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GİRİŞ </title>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <style>
      body{
        background-color:lightcoral;
      }
      header {
        background-color:ghostwhite;
        padding:10px;
      }
      a {
        color:lightcoral;
        padding:5px;
        font-family: "Pacifico", cursive;
      }
      p {
        color:lightcoral;
        text-align:center;
        font-family: "Nerko One", cursive;
      }
      footer {
        background-color:ghostwhite;
        padding:10px;
      }
      label {
        color:lightcoral;
        background-color:ghostwhite;
        margin-right:5px;
        font-family: "Nerko One", cursive;
      }
      button{
        color:lightcoral;
        background-color:ghostwhite;
        border-radius:50%;
        border-width:5px;
        border-color:lightcoral;
        font-family: "Gochi Hand", cursive;
        padding:10px;
      }
      </style>
  </head>
  <body>
    <header>
      <div>
        <img src="3.jpg" width="70" height="70" style="border-radius:50%;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <img src="3.jpg" width="70" height="70" style="border-radius:50%;">
        <a href="/login"> Giriş </a>
        <a href="/signin"> Üye Ol </a>
      </div>
    </header>
    <br><br>

    <form action="/submitForm" method="POST">
      <label for="email">E-Mailiniz:</label>
      <input type="email" id="email" name="email"required><br><br>
      <label for="password"> Şifreniz:</label>
      <input type="password" id="password" name="şifre" minlength="8"required><br><br>

      <button type="submit">Gönder</button>

    </form>
    <br><br>

    <footer>
      <p> Bu Sayfa CherryBlossom kuruluşuna aittir. &copy; 2024 </p>
    </footer>
  </body>
</html>