<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cilt Bakımı </title>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <style>
      body{
        background-color:lightcoral;
      }
      header {
        background-color:ghostwhite;
        padding:10px;
      }
      a {
        color:lightcoral;
        padding:5px;
        font-family: "Pacifico", cursive;
      }
      p {
        color:white;
        text-align:center;
        font-family: "Nerko One", cursive;
      }
      footer {
        background-color:ghostwhite;
        padding:10px;
      }
      h1 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      h2 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      h3 {
        color:ghostwhite;
        text-align:center;
        font-family: "Pacifico", cursive;
      }
      #p {
        color:lightcoral;
        text-align:center;
        font-family: "Nerko One", cursive;
      }
      #a1 {
        color:ghostwhite;
        text-align:center;
        font-family: "Gochi Hand", cursive;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="3.jpg" width="70" height="70" style="border-radius:50%">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <img src="3.jpg"width="70" height="70" style="border-radius:50%;">
        <a href="/login"> Giriş </a>
        <a href="/signin"> Üye Ol </a>
      </div>    
    </header>

    <br><br>

    <h1> CİLT BAKIMI </h1><br>
    <h2> Cilt Bakımı Nedir ve Nasıl Yapılır?
</h2><br><br>

    <p> Sağlıklı, ışıltılı ve genç bir cilde sahip olmak herkesin arzusu. Gün boyu çevresel faktörlerin etkisi altında kalan cildimizi düzenli ve profesyonel bir cilt bakımı ile koruyabiliriz. İhtiyaçlarınıza yönelik ve cilt tipinize uygun bir bakım rutini ile akne, leke, kırışıklık, sarkma gibi cilt sorunlarından korunabilirsiniz. Kuru, hassas, yağlı veya karma ciltler için özel cilt bakım ürünleri ve yöntemleri mevcut. Medikal estetikte güvenilir adresiniz Doktor Lida Çiteli, “cilt bakımı nedir, nasıl yapılır” sizler için anlattı.

</p><br><br>

    <h2> Cilt Bakımı Nasıl Yapılır?
</h2><br><br>

    <p> Cildimizi çevresel faktörlere karşı dirençli ve dayanıklı hale getirmek, yaşlanma belirtilerini geciktirmek ve hafifletmek, güneşin cildimizde bıraktığı hasarın önüne geçmek için, düzenli bir cilt bakımı şart. Kimi zaman profesyonel merkezlerde cilt bakım işlemleri yaptırabileceğimiz gibi evde de kişisel bakım rutinimizi oluşturmamız gerekiyor.

</p><br>

    <p> Profesyonel cilt bakımında dermokozmetik ürünler ve bazı ekipmanlar kullanılır. Medikal cilt bakımı olarak adlandırdığımız bu uygulamalar, cildimizin ihtiyaç duyduğu besinleri kazanabilmesi, gözeneklerde biriken kirlerden arınması ve nemlendirilmesi açısından önemlidir.

</p><br>

    <p> Cilt bakımının ilk aşaması her zaman için temizliktir. Cildimizi düzenli olarak ölü hücrelerden, kirden ve yağdan arındırmamız gerekir. Sonraki aşama ise cilde ihtiyaç duyduğu nemliliği kazandırmak ve zararlı etkenlere karşı koruma altına almaktır. Cildimizi arındırmak için düzenli aralıklarla kimyasal peeling uygulamasına başvurmamız gerekir.
      <a id = "a1" href="https://www.drlidaciteli.com/kimyasal-peeling"><p>Doktor Lida Çiteli ile Kimyasal Peeling uygulaması hakkında detaylı bilgi almak için tıklayabilirsiniz.</p></a>

</p><br>

    <p> Peeling sayesinde gözeneklerimizi arındırarak cildimizin daha rahat nefes almasını sağlarız.

    Cildimizin de beslenmeye ihtiyacı vardır.</p><br>

    <h2> CİLT BAKIMI NEDİR? CİLT BAKIMI NE İŞE YARAR?
</h2><br><br>

 <p> Cildimiz her zaman mükemmel görünmeyebilir. Çünkü çevresel koşullara sürekli açıktır. Bu yüzden çabuk yıpranır, pürüzlenir, lekelenir ve yaşlanır. Sivilcelenme, siyah noktalar, beslenme alışkanlıkları, makyaj yapmak, alkol ve sigara tüketimi de cildin görünümünü etkileyen en önemli faktörlerdir. İşte tüm bu sebeplerden dolayı cildimize ihtiyacı olan temel bakımı vermemiz çok önemlidir. Bu temel bakım cildimiz için kusursuz bakım rutinidir. Onu iyileştirmek ve iyi tutmak için gereken her şey bu temel rutinin içinde yer alır. </p><br>

    <p> Cilt bakımı nedir sorusunun cevabı, cildi iyileştirmek için düzenli olarak uygulanan bakımların tümüdür diyebiliriz kısaca. Bu bakımların içine temizleme, nemlendirme, maske gibi cildin yararına olan tüm bakımlar girer.</p><br>

    <h3> Cilt bakımı neden önemli? Cilt bakımı ne işe yarar?</h3><br><br>
    
    <p> Parlak ve pürüzsüz bir görünüm, doğru cilt bakımı ile başlar. Cildin güzelliğini korumak için yapılması gereken cilt bakımı, cilt üzerinde biriken ölü tabakayı temizleyerek cildi yenilemek için yapılan uygulamaları kapsar. Bu şekilde kusursuz cilde sahip olabilirsiniz. </p><br>

    <img src="cilt.jpg" width="300" height="100" style="border-radius:40%;display:block; margin-right:auto; margin-left:auto;">
    <br><br>

    <h3> Düzenli cilt bakımı hangi sorunları önlemek içindir?
</h3><br><br>

    <p> - Siyah nokta ve sivilceleri önlemek için: Bunun için en temel koşul düzenli yapılan cilt temizliğidir. Ölü hücrelerden, kirden, makyajdan arınan cilt taze, canlı ve parlak görünür. Shiseido'nun çifte temizlik ritüeli ile bunu eşsiz şekilde yapın. Önce Perfect Cleansing Oil ile cildinizi masaj yaparak temizleyin. Ardından  Shiseido  Clarifying Cleansing  Foam ‘ ı kullanarak yüzünüzü yıkayın.  Cildiniz sağlıklı ve temiz olacaktır.

</p><br><br>

    <p> - Cilt lekelerini önlemek için: Aynaya baktığınızda gözünüze ilk takılan o sevimsiz leke oluyorsa, mücadele zamanı gelmiş demektir. Cilt lekeleriyle savaşmak sabır ister! Ama bu can sıkıcı lekelerden kurtulmak imkansız değildir. Shiseido White Lucent Illuminating Micro -Spot Serum , aydınlık ve parlak bir cilt için koyu lekeleri, cilt donukluğunu ve ton eşitsizliğini hedef alan serumdur. Sadece 1 haftada daha berrak bir cilde kavuşmanızı sağlar. Leke sorunu yaşayan tüm cilt tipleri kullanabilir.

</p><br><br>

    <p> - Geniş gözenekleri önlemek için: Geniş gözenekler özellikle yağlı ve karma ciltlerin problemidir. Bu ciltlerde yağ dengesi sağlanırsa gözenekler de küçülür. Bunun için özel maskelerden yararlanabilirsiniz. Shiseido Waso Satocane Pore Purifying  Scrub Mask , siyah nokta ve tıkanmış gözeneklerin oluşumunu önler. Nazik peeling etkisiyle cildi kurutmadan ölü cilt hücrelerinden arındırır. 3’ü 1 arada işlevi vardır: Temizleme, arındırma ve peeling.

</p><br><br>

    <p> - Ciltteki cansız ve donuk görünümü önlemek için: Günün yorgunluğundan arınıp cildinizin canlanmasını ve fonksiyonlarını yerine getirmesini sağlamak için Shiseido Ibuki Sleeping Mask gece güzellik maskesinden yararlanabilirsiniz. Bu maskeyi haftada 2-3 kere yatmadan önce cildinize sürerseniz, sabah uyandığınızda cildinizin daha canlı, ışıltılı ve parlak olduğunu görürsünüz. İnce çizgiler ve koyu halkalar azalır. Cildiniz çiğ tanesi kadar yumuşak ve taze görünür.

</p><br><br>

    <p> - Ciltteki renk eşitsizliklerini önlemek için: Renk eşitsizliği en sık görülen cilt sorunlarından biridir. Çok çeşitli çevresel sorunlardan kaynaklanabilir. Bunun için önereceğimiz ürün Ultimune, Shiseido’nun tam 20 yıllık çalışmasının bir sonucudur. Ultimune’un bu kadar özel ve eşsiz kılan şey ise; cildin savunma gücünü arttırmasıdır. Cilt fonksiyonlarının en iyi potansiyele ulaşmasına, cildinizin tıpkı doğduğunuz andaki gibi göz alıcı, pürüzsüz, esnek ve genç görünmesine yardımcı olur. Ultimune’u 1 ay boyunca düzenli kullandığınızda çizgilerinizi azalttığını, renk tonu eşitlenmiş parlak yani sağlıklı bir ten elde ettiğinizi, üzerine uygulanan serum ve kremlerin etkisini arttırdığını göreceksiniz.

</p><br><br>

    <img src="cilt2.jpg" width="300" height="100" style="border-radius:40%;display:block; margin-right:auto; margin-left:auto;"><br><br>
    <h3> Cilt bakımının olmazsa olmazları
</h3><br><br>
   <p> Sağlıklı ve güzel bir cilt için elbette sadece kozmetik kullanımı yetmez. Cilt bakımı bir bütündür ve cildi içeriden de güzel şekilde beslemek gerekir. Çünkü yediğiniz her şey cildinize yansır. 

</p><br<<br>
  <h3>Güzel bir cilt için dikkat etmeniz gerekenler:

 </h3><br><br>
  <p>- Vitamin ve mineral eksikliğini gidermek için düzenli meyve ve sebze tüketmek. Özellikle cildin pürüzsüzlüğü için A ve E vitamini içeren gıdalar çok önemli. <br>

  - Bol su içmek. Su cildimizin de hayat kaynağı! Çünkü su içmek, cildimize de nem depolar ve toksinleri vücudumuzdan atmamızı sağlar.<br>

  - Düzenli uyku. Yetişkinler için ortalama 7-8 saat gece uykusu cildimizin güzelliği için olmazsa olmazlardan biri. Çünkü cilt kendini geceleri yeniliyor. <br>

  - Spor. Spor yaparken salgılanan mutluluk hormonu ve ter ile atılan toksinlerin cildimize ne kadar iyi geldiğini tahmin etmek zor değil.<br>
   -  Masaj. Yatmadan önce , cilt bakımınızı yaptıktan sonra nemlendiricinizi yüzünüze masaj yaparken uygulayın. <br>

  - Güneşten korunun. Yaz aylarında çoğu kadın bronz bir tene sahip olmak ister fakat güneş ışınları cildinize zarar verebilir. Cilt sağlığınız için alacağınız ürünün SPF oranına bakıp alın.</p><br><br>

 <img src="cilt3.jpg" width="300" height="100" style="border-radius:40%;display:block; margin-right:auto; margin-left:auto;"><br><br>
  <h3> Sağlıklı bir cilt için yapılmaması gerekenler:

</h3><br><br>
  
  <p> - Sigaranın sağlığımız dolayısıyla cildimiz için de bir zehir olduğunu söylemeye gerek var mı?<br>

  - Çok yağlı yiyecekler, kızartmalar ve fast food beslenmeden de mümkün olduğunca kaçılmalı.<br>

  - Aşırı alkol tüketimi de cildimizi sigara gibi yıpratan faktörlerin başında geliyor.<br>
    
    - Aşırı güneşlenmek. Güneş ışınlarına fazla maruz kalmak, cilt kanserinin en önemli sebeplerinden biri. Ayriyeten cildi yaşlandırması ve cilt dokusunun lekelenip pürüzlenmesine yol açması da cabası.
 </p>
 <br><br>

  <footer>

   <p id="p">Bu Sayfa CherryBlossom kuruluşuna aittir. &copy; 2024 </p>
  
  </footer>
  </body>
</html>