<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İçecekler</title>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
   <style>
       html {
           background-color: beige;
       }
       body {
           display: flex;
           flex-direction: column;
           min-height: 100vh;
           margin: 0;
       }
       header {
           background-color:rosybrown;
           text-align: center;
           padding: 10px 0;
           font-family:"Edu AU VIC WA NT Hand", cursive;
           font-optical-sizing: auto;
           color: white;
       }
       }
       header div {
           display: flex;
           justify-content: center;
           align-items: center;
       }
       header div a {
           margin: 0 10px;
           color: white;
           text-decoration: none;
       }
       header div img {
           margin-right: 10px;
        }
        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: beige;
            padding: 20px;
        }
       p{
           font-family: "Edu AU VIC WA NT Hand", cursive;
           font-optical-sizing: auto;
           color: white;
       }
        .drink {
            margin: 10px;
            text-align: center;
        }
        .drink img {
            width: 300px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        footer {
            background-color: rosybrown;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="logo.jpg" width="50" height="50"/>
            <a href="/">Anasayfa</a>
            <a href="/yemekler">Yemekler</a>
            <a href="/drink">İçecekler</a>
            <a href="/dessert">Tatlılar</a>
            <a href="/iletisim">İletişim</a>
        </div><br><br>
        <img src="coffe.jpg" weight="600" height="100">
    </header>
    <main>
        
        <div class="drink">
            <img src="espresso.jpg">
            <p> ESPRESSO </p>
        </div>
        <div class="drink">
            <img src="americano.jpg">
            <p> AMERİCANO </p>
        </div>
        <div class="drink">
            <img src="cappuccino.jpg">
            <p> CAPPUCCİNO</p>
        </div>
        <div class="drink">
            <img src="frappe.jpg">
            <p> FRAPPE </p>
        </div>
        <div class="drink">
            <img src="latte.jpg">
            <p> LATTE </p>
        </div>
        <div class="drink">
            <img src="macchiato.jpg">
            <p> MACCHİATO </p>
        </div>
        <div class="drink">
            <img src="mocha.jpg">
            <p> MOCHA </p>
        </div>
        <div class="drink">
            <img src="marocchino.jpg">
            <p> MAROCCHİNO </p>
        </div>
        <div class="drink">
            <img src="filtcof.jpeg">
            <p> FİLTRE KAHVE </p>
        </div>
        <div class="drink">
            <img src="ice.jpg">
            <p> İCE COFFEE LATTE </p>
        </div>
        <div class="drink">
            <img src="limon.jpeg">
            <p> LİMONATA </p>
        </div>
    </main>
    <footer>
        <a id="a1" href="https://www.instagram.com/lina_genlr?igsh=MTJ2b2lyNm5rcTlyag==" target="_blank" > <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"style="width:40px;height:40px;"> </a>
        <p>
        ADRES : Çiçek Neighborhood, 2.Street No:10 Kadıkoy,Istanbul</p>
    </footer>
</body>
</html>
