<!DOCTYPE html>
<html lang="tr">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
    <style>
        html {
            background-color:limegreen;
        }
        body{
            background-color:limegreen;
        }
        header {
            background-color:seagreen;
            text-align: center;
            padding: 10px 0;
        }
        }
        header div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header div a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
        }
        header div img {
            margin-right: 10px;
        }
        h1 {
             font-family: "Edu AU VIC WA NT Hand", cursive;
              font-optical-sizing: auto;
              color:white;
        }
        h2 {
              font-family: "Edu AU VIC WA NT Hand", cursive;
               font-optical-sizing: auto;
               color:white;
        }
        h3 {
              font-family: "Edu AU VIC WA NT Hand", cursive;
               font-optical-sizing: auto;
               color: white;
        }
        p{
            font-family:"Edu AU VIC WA NT Hand", cursive;
            font-optical-sizing: auto;
            color:white;
        }
        #p1 {
            font-family: "Edu AU VIC WA NT Hand", cursive;
            font-optical-sizing: auto;
            text-align:left;
            margin-left:1;
            color:white;
        }
        #p2 {
            font-family: "Edu AU VIC WA NT Hand", cursive;
            font-optical-sizing: auto;
            text-align: right;
            margin-right:1;
            color:white;
        }
       
        footer {
            background-color:seagreen;
            text-align:center;
        }
        #a1 {
            text-align:center;
            
        }
        #p3 {
            text-align:center;
            
        }
    </style>
</head>
<body>
    <header>
        
        <div>
        <img src="logo.jpg" width="50" height="50"/>              
            <a href="/"> Anasayfa </a>
            <a href="/yemekler"> Yemekler </a>
            <a href="/drink"> İçecekler </a>
            <a href="/dessert"> Tatlılar </a>
            <a href="iletisim"> İletişim </a>
        </div> 
    </header>
    <main>
       <img src="koreanrest.jpg" width="500" height="150" />

    <h1> WELCOME TO ELİNDA </h1>
    <h2> WE HOPE YOU ENJOY YOUR MEALS </h2>

    <p id="p1">
        <h3> HISTORY OF ELINDA </h3>
        Elinda was founded by Edanur Gül in 2028. Since that day, it has provided services as both a café and a restaurant. Its menu features Korean foods, various desserts, and drinks. The staff at Elinda have extensive knowledge of Korean cuisine.
    </p>
    <p id="p2">
        <h3> WHO is EDANUR GUL ? </h3>
        Edanur Gül was born in 2000 in Istanbul. She has been interested in Korea since her childhood. After completing her university education, she went to South Korea for her master's degree. She lived there for four years. Then she came back to Turkey and founded Elinda. Now, she is a software engineer. She works remotely for a company and also takes care of Elinda. She has transferred her experience with Korean cuisine to people in Turkey.
    </p>
    </main>
    <footer>
        <a id="a1" href="https://www.instagram.com/lina_genlr?igsh=MTJ2b2lyNm5rcTlyag==" target="_blank" > <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"style="width:40px;height:40px;"> </a>
        <p id="p3">
           ADRES : Çiçek Neighborhood, 2.Street No:10 Kadıkoy,Istanbul
        </p>
    </footer>
    
</body>
</html>