<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> İngilizce </title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <style>
      body {
        background-color:rebeccapurple;
      }
      header {
        background-color:purple;
        padding:10px;
      }
      a {
        color: floralwhite;
        padding:10px;
        font-family: "Poppins", sans-serif;
      }
      img {
        margin-left:30px;
        border-radius:50%;
        border-style:solid;
        border-color:rebeccapurple;
      }
      p {
        color:floralwhite;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      footer{
        background-color:purple;
        padding:10px;
      }
      #footer {
        background-color:purple;
        padding:10px;
      }
      h1 {
        color: floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h3 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logom.jpg" width="100" height="100" style="border-radius:50%; border-color:purple; border-style:solid; border-width:4px;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/projects"> Projeler </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
  <br><br>
    <h1> ÖRNEK ÇEVİRİ PROJESİ </h1><br>
    <h2> ARTIFICIAL INTELLIGENT-YAPAY ZEKA </h2><br>
    <h3> ORGİNAL METİN </h3><br><br>

    <p> Yaş tahmin algoritması hiyerarşik yaklaşımı kullanır (şekil 10). İlk olarak, girdi parçaları üç yaş grubuna ayrılır: 18 yaşından küçük, 18-45 yaş arası ve 45 yaş üstü. İkinci olarak, bu adımın sonuçları, her biri tek bir on yıl ile sınırlı yedi küçük gruba bölünür. Böylelikle, çok sınıflı sınıflandırma problemi, bir dizi ikili “tümüne karşı bir” (one-against-all) sınıflandırıcılara (BC'ler) indirgenir. Sınıflandırıcı daha sonra görüntüleri ilişkili sınıfa göre sıralar ve nihai kararlara bu sıra dağılım grafikleri (histogramlar) analiz edilerek ulaşılır.Bu BC'ler iki seviyeli bir yaklaşım kullanılarak oluşturulmuştur. Öncelikle bir uyarlanabilir özellik uzayına, daha önce açıklandığı şekilde, dönüştürüldükten sonra, görüntüler RBF çekirdekli destek vektör makineleri kullanılarak sınıflandırılır.
</p>
    <p> Girdi parçaları, hizalanması ve tek tip bir ölçeğe dönüştürülmesi için parlaklık özelliklerine göre bir ön işleme tabi tutulur. Bu ön işleme adımı renk alanı dönüşümünü ve ölçeklendirmeyi içerir, her iki işlem de cinsiyet tanıma algoritmasında kullanılanlara benzer olan her iki işlem de cinsiyet tanıma algoritmasında kullanılanlara benzerdir. Özellikler, her renk bileşeni için hesaplanır ve tek tip bir özellik vektörü oluşturmak için birleştirilir.
</p>
    <p> Eğitim ve test, yeterince büyük bir renkli görüntü veri tabanı gerektirir. Son teknoloji MORPH ve FG-NET görüntü veri tabanlarını, farklı kaynaklardan elde edilmiş ve 10.500 yüz görüntüsünden oluşan kendi görüntü veri tabanımızla birleştirdik. Görüntülerdeki yüzler AdaBoost yüz algılama algoritmaları tarafından otomatik olarak tespit edildi.
</p>
    <p> Yaş sınıflandırma algoritmasının ilk aşamasını eğitmek ve test etmek için toplam 7000 görüntü kullanılmıştır. 144 uyarlanabilir özellik kullanılarak üç BC oluşturuldu.
</p>
    <p> Birinci aşama sınıflandırma sonuçları, genç yüzler için %82, orta yaşlı yüzler için %58 ve yaşlı yüzler için %92 doğruluk gösterdi. Üç yaş kategorisi için genel yaş sınıflandırması doğruluğu %77,3 idi.
</p>
    <p> İkinci aşama BC'ler, birinci aşama için olanlar ile aynı şekilde oluşturuldu (yukarıda açıklanmıştır). Şekil 11, önerilen algoritmanın ilk aşaması ile yaş tahmininin görsel bir örneğini göstermektedir.

</p><br><br>
    <h3> İNGİLİZCE VERSİYONU </h3><br><br>
    <p> The proposed age estimation algorithm realizes hierarchical approach (Fig. 10). First, the input fragments are divided into three age groups: less than 18 years old, 18–45 years old, and more than 45 years old. Second, the results of this first step are further subdivided into seven smaller groups, each limited to a single decade. This reduces the original multiclass classification problem to a set of binary “one-against-all” classifiers (BC). Each classifier then ranks the images based on the associated class, and the final decisions are obtained by analyzing these rank histograms.
</p>
    <p> These BCs are constructed using a two-level approach. After first transitioning to an adaptive feature space, as described earlier, the images are classified using support vector machines with radial basis function(RBF) kernels.
</p>
    <p> The input fragments are preprocessed to align and transform their luminance characteristics to a uniform scale. This preprocessing step includes color-space transformation and scaling, both operations similar to those used in the gender recognition algorithm. Features are calculated for each color component and combined to form a uniform feature vector.
</p>
    <p> Training and testing require a sufficiently large color image database. Here, we combined the state-of-the-art MORPH and FG-NET image databases with our own image database, gathered from many sources and comprising 10,500 face images. The faces in the images were detected automatically by the AdaBoost face detection algorithms.
</p>
    <p> A total of 7000 images were used to train and test the first stage of the age classification algorithm. Three BCs were created, each with 144 adaptive features.
</p>
    <p> The first-stage classification results showed 82% accuracy for young faces, 58% accuracy for middle-aged faces, and 92% accuracy for elderly faces. The overall age classification accuracy for the three age categories was 77.3%.
</p>
    <p> The second-stage BCs were constructed in the same manner as the first stage (described above). Fig. 11 shows a visual example of age estimation by the first stage of the proposed algorithm.

</p>
 <br><br>
    <footer>
      <div class="footer">
      <a href="https://www.instagram.com/">
        <img src="instagram.jpeg" width="50" height="50" style="border-radius:50%;border-style:solid; border-width:6px;">
        <a href="https://tr.linkedin.com/">
          <img src="linkedin.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">  
        </a>
      <a href="https://web.whatsapp.com/">
        <img src="whatsapp.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">
      </a>
      </div>
        </footer>
    
  </body>
</html>