<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> İtalyanca </title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      body {
        background-color:rebeccapurple;
      }
      header {
        background-color:purple;
        padding:10px;
      }
      a {
        color: floralwhite;
        padding:10px;
        font-family: "Poppins", sans-serif;
      }
      img {
        margin-left:30px;
        border-radius:50%;
        border-style:solid;
        border-color:rebeccapurple;
      }
      p {
        color:floralwhite;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      footer{
        background-color:purple;
        padding:10px;
      }
      #footer {
        background-color:purple;
        padding:10px;
      }
      h1 {
        color: floralwhite;
        background-color:rebeccapurple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h3 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logom.jpg" width="100" height="100" style="border-radius:50%; border-color:purple; border-style:solid; border-width:4px;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/projects"> Projeler </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
  <br><br>
    <h1> ÖRNEK ÇEVİRİ PROJESİ </h1><br>
    <h2> BİR KURBAĞA MASALI-Storie della serpe
 </h2><br>
    <h2> ORGİNAL VERSİYON </h2><br>
    <h3> BÖLÜM 1 </h3><br><br>
    <p> Bir zamanlar ufak bir çocuk vardı; annesi ona her akşamüstü bir kâse sütle bir parça ekmek verir, o da avluya çıkarak bir yere oturup bunları yerdi.
    Yemeye başlarken duvar aralığından bir kurbağa çıkar ve kafasını süte sokarak oğlanla birlikte yerdi. O da bundan hoşlanırdı.
    Bir gün oğlan kâsesini alıp her zamanki yerine oturdu. Kurbağa gelmeyince şöyle seslendi:
    Kurbağacığım, gebene;
    Hemen geliyorum desene!
    Süt getirdim bak sana,
    Ekmeğini de abana?
    Derken kurbağa çıkageldi ve afiyetle yedi. Minnettarlığını da gösterdi; kendi gizli hazinesinden oğlana bir sürü güzel şey getirdi: parlak taşlar, inciler ve altın oyuncaklar.
    Ancak kurbağa sadece sütü içti, ekmeği bıraktı. Bunun üzerine oğlan eline kaşığı alarak onunla hafifçe kafasına dokundu ve "Hadi, ekmeği de ye" dedi.
    Mutfakta bulunan annesi onun biriyle konuştuğunu duydu. Kaşığıyla da kurbağanın başına vurduğunu görünce, eline geçirdiği bir kütükle o zararsız kurbağanın başına vurarak hayvanı öldürdü.
    O günden sonra oğlanda bir değişiklik oldu; kurbağa yaşadığı sürece hem büyümüş, hem de güçlenmişti. Şimdiyse o güzel ve kıpkırmızı yanakları soldu ve zayıflamaya başladı.
    Aradan çok geçmedi, uğursuz puhu kuşu o gece ötmeye başladı ve kızılgerdan kuşu ufak dallarla yaprakları toplayarak bir çelenk yaptı; az sonra da çocuğun cenazesi kalktı.</p>
    <h3> BÖLÜM 2 </h3><br><br>
    <p>Öksüz bir kız şehir surlarında oturmuş iplik eğirmekteydi. Duvar aralığındandan çıkan bir kurbağa gördü. Öksüz kız hemen boynundaki mavi ipek eşarbı çıkarıp yere serdi; kurbağa bunu çok sevdi ve üzerinde oynayıp durdu hep.
    Neyse, kurbağa bunu görünce geri döndü. Yanında ufacık bir taç getirmişti, eşarbın üzerine bıraktıktan sonra yine gitti. Kız tacı alıp başına koydu; pırıl pırıl parlıyordu, incecik altın tellerle işlenmişti.
    Aradan çok geçmeden kurbağa yine çıkageldi; ama tacı göremeyince duvara tırmandı ve üzüntüden kafasını duvara vuramaya başladı. Vurdu, vurdu, sonra gittikçe gücünü kaybetti ve ölüp kaldı.
    Kız o tacı başına koymayıp da yerinde bırakmış olsaydı kurbağa ona daha kim bilir ne kıymetli şeyler getirecekti.</p>
    <h3> BÖLÜM 3 </h3><br><br>
    <p>Kurbağa seslendi: Vrak, Vrak!
    Çocuk cevap verdi: Gel artık, tembelliği bırak!
    Ve kurbağa çıkageldi.
    Çocuk, kız kardeşine sordu, "Kırmızı çorapları görmedin mi?"
    Kurbağa cevap verdi, "Hayır, ben görmedim. Sen de mi görmedin? Vah, vah vah!"</p><br><br>

    <h2> İTALYANCA VERSİYON </h2><br><br>
    <h3> CAPİTOLO PRİMO </h3><br><br>
    <p> Un bambino sedeva per terra davanti alla porta di casa e aveva accanto a s‚ una scodellina di latte e pezzi di pane, e mangiava. In quella arrivò una serpe strisciando, ficcò la sua testolina nella scodella e mangiò con lui. Il giorno dopo tornò ancora e così ogni giorno per un certo periodo di tempo. Il bambino la lasciava fare, ma vedendo che la serpe beveva sempre solo il latte e non toccava i pezzetti di pane, prese il suo cucchiaino, la batté‚ un poco sul capo e disse: -Su, mangia anche il pane!-. In quel periodo il bambino era diventato bello ed era cresciuto. Un giorno la madre se ne stava dietro di lui e, vedendo la serpe, corse fuori e l'ammazzò. Da quel momento il bambino incominciò a dimagrire e infine morì.
</p><br>
    <h3> CAPİTOLO SECONDO </h3><br><br>
    <p> Un'orfanella sedeva presso il muro di cinta e filava, quando vide venire una serpe. Allora stese accanto a s‚ uno scialle di seta azzurra; piace tanto alle serpi e non vanno che su quello. Appena la serpe lo vide, tornò indietro, riapparve portando una piccola coroncina d'oro; la mise sullo scialle e se ne andò. La fanciulla prese la corona, che brillava ed era di sottile filigrana d'oro. Poco dopo la serpe tornò per la seconda volta, ma non vedendo più la corona, strisciò fino al muro e per il dolore vi picchiò contro la testina finché‚ ne ebbe la forza, e poi giacque morta. Se la fanciulla avesse lasciato stare la corona, la serpe avrebbe portato fuori dalla tana anche altri tesori.
</p><br>
    <h3> CAPİTOLO TERZO </h3><br><br>
    <p> La serpe grida: -Uuh, uuh!-. Il bimbo dice: -Vieni fuori!-. La serpe esce e il bimbo chiede notizie della sorellina: -Non hai visto delle calzette rosse?-. La serpe risponde: -No, non le ho viste; e tu? Uuh, uuh!-.
</p><br><br>

    <footer>
      <div class="footer">
        <a href="https://www.instagram.com/">
          <img src="instagram.jpeg" width="50" height="50" style="border-radius:50%;border-style:solid; border-width:6px;">
        </a>
          <a href="https://tr.linkedin.com/">
            <img src="linkedin.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">  
          </a>
        <a href="https://web.whatsapp.com/">
          <img src="whatsapp.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">
        </a>
      </div>
    </footer>
  </body>
</html>
        
