<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Korece </title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      body {
        background-color:rebeccapurple;
      }
      header {
        background-color:purple;
        padding:10px;
      }
      a {
        color: floralwhite;
        padding:10px;
        font-family: "Poppins", sans-serif;
      }
      img {
        margin-left:30px;
        border-radius:50%;
        border-style:solid;
        border-color:rebeccapurple;
      }
      p {
        color:floralwhite;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      footer{
        background-color:purple;
        padding:10px;
      }
      #footer {
        background-color:purple;
        padding:10px;
      }
      h1 {
        color: floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h3 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logom.jpg" width="100" height="100" style="border-radius:50%; border-color:purple; border-style:solid; border-width:4px;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/projects"> Projeler </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
  <br><br>
    <h1> ÖRNEK ÇEVİRİ PROJESİ </h1><br>
    <h2> (Hikaye) PİNOKYO – 피노키오</h2><br>
    <h3> ORGİNAL METİN </h3><br><br>
    <h3> BÖLÜM 1 </h3>

    <img src=""><br>
    <p> Bir zamanlar, bir köyde ahşap oyuncaklar yapıp satan

    Geppetto adında bir ihtiyar yaşarmış.

    Ailesi olmadığı için yalnız olan ihtiyar bir gün, erkek bir oyuncak bebek yapmış.

    “Bu sevimli oyuncak gerçekten benim çocuğum olsaydı ne kadar güzel olurdu?”

    İhtiyar kendi kendine söyleniyormuş.

    Ve ilginç olsa da oyuncak konuşarak yürümeye başlamış.

    “Baba, nasılsın?”</p>
    <p> İhtiyar adam çok mutlu olup oyuncağa söylemiş.

    “Sen bugünden itibaren benim oğlumsun.

    Seni Pinokyo olarak çağıralım.”

    “Hey, güzel. Benim adım Pinokyo!”

    “Pinokyo, iyi bir çocuk olmak için yarından itibaren okula gidip ders çalışmalısın.” 
      
    “Baba, ben ders çalışmak istemiyorum!” Pinokyo evden sıvışmış ve kaçıp gitmiş.</p>
    <p> “Pinokyo, bekle.”

    İhtiyar adam aceleyle arkasından gitmiş, Pinokyo bir fırına saklanmış.

    İhtiyar adam da Pinokyo’yu yakalamak için fırına girmiş.

    Böylelikle Pinokyo ihtiyar adama ekmek fırlatmış.

    Sinirlenen fırıncı polisi çağırmış.

    “Sen yanlış öğrettiğinden böyle oldu.” Polis, ihtiyar adamı hapishaneye götürmüş.</p>
    <p> “İyi oldu! Can sıkan babam hapise atıldığından okula gitmeyip

    canımın istediği gibi oynasam da olur!”

    Pinokyo parka gidip salıncağa da binmiş ve

    çocuklarla tahterevalliye de binip eğlenerek oynamış.

    Fakat akşam olunca, bütün çocuklar kendi evlerine geri dönmüş.

    Tek başına kalan Pinokyo aç bir şekilde merdivenlere çökmüş. O anda, yağmur yağmaya başlamış.</p>
    <p> Pinokyo baştan aşağı ıslanıp eve geri dönmüş.

    Fakat evde kimse yokmuş.

    “Baba, acıktım. Lütfen hemen geri dön.”

    Pinokyo hatasının farkına varmış.

    Soğuk ve açlığa yenik düşen Pinokyo sobanın önünde vücudu gevşemiş ve uyuya kalmış. Fakat sonra alevler Pinokyo’nun bacaklarını sarmış.

</p>
<p> Pinokyo, sandalyeden inip ihtiyar adama gitmeye çalışmış ama sandalyeden düşmüş.

“Ayaklarına ne oldu, Pinokyo!”

“Ayaklarım ateşte yanıp kül oldu.”

“Pinokyo, yarından itibaren gideceğine dair söz verirsen ayaklarını yeniden yapacağım.”

İhtiyar adama Pinokyo uslu bir çocuk olacağım diye söz vermiş, ihtiyar adam da sabahlayarak ona yeni ayaklar yapıp vermiş.

</p>

    <h2> KORECE VERSİYON </h2><br><br>
    <h3> 제1장 </h3><br><br>
    
    <p> 옛날, 어느 마을에 나무 인형을 만들어 파는

    제페트 할아버지가 살고 있었어요.

    가족이 없어서 외로웠던 할아버지는

    어느 날, 사내아이 인형을 하나 만들었어요.

    “이 귀여운 인형이 진짜 내 아이라면

    얼마나 좋을까?”

    할아버지는 혼잣말로 중얼거렸어요.

    그러자 신기하게도 인형이 말을 하면서

    걸어다니기 시작하였습니다.

    “아빠, 안녕하세요?”</p>
    <p> 할아버지는 무척 기뻐하며

    인형에게 말했어요.

    “너는 오늘부터 내 아들이다.

    피노키오라고 부르기로 하자.”

    “야, 좋아라. 내 이름은 피노키오!”

    “피노키오야, 착한 아이가 되기 위해서는

    내일부터 학교에 가서 공부를 해야 한다.”

    “아빠, 나는 공부하기 싫어요!”

    피노키오는 집을 뛰쳐나와

    도망을 갔어요.</p>
    <p> “피노키오야, 기다려라.”

    할아버지가 급히 뒤쫓아가자

    피노키오는 빵집으로 숨어 버렸어요.

    할아버지도 피노키오를 붙잡기 위해

    빵집으로 들어갔어요. 그러자 피노키오는

    할아버지에게 빵을 던졌어요.

    화가 난 빵집 주인이 경찰관을 불렀어요.

    “당신이 잘못 가르쳐서 그런 거요.”

    경찰관은 할아버지를 감옥으로

    데리고 갔습니다.</p>
    <p> “잘 됐다! 귀찮게 구는 아빠가

    감옥에 갇혔으니, 학교에 가지 않고

    마음대로 놀아도 돼!”

    피노키오는 공원에 가서 그네도 타고,

    아이들과 시소도 타며 재미있게 놀았어요.

    그러나 저녁때가 되자, 아이들은 모두

    자기 집으로 돌아갔어요.

    외톨이가 된 피노키오는

    배가 고파 계단에 주저앉았어요.

    그 때, 비가 내리기 시작했어요.</p>
    <p> 피노키오는 비에 흠뻑 젖어

    집으로 돌아왔어요.

    그런데 집 안에는 아무도 없었어요.

    “아빠, 배가고파요. 빨리 돌아오세요.”

    피노키오는 잘못을 뉘우쳤어요.

    추위와 배고픔에 지친 피노키오는 난로 앞에서 몸을 녹이다 잠이 들었어요.

    그런데 그만 난롯불이 피노키오의 다리에

    옮겨 붙고 말았어요.

    “피노키오야, 내가 돌아왔다.”

    경찰서에 붙잡혀 갔던 할아버지가

    밤 늦게 돌아왔습니다.</p>
    <p> 피노키오는 의자에서 내려와 할아버지에게 가려고 했지만

    그 자리에서 넘어지고 말았어요.

    “다리가 어떻게 된 거니, 피노키오야!”

    “다리가 불에 타 버렸어요.”

    “피노키오야, 내일부터 학교에 가겠다고

    약속하면 다리를 새로 만들어 주마.”

    할아버지는 피노키오가 착한 아이가

    되겠다고 약속하자, 밤을 새워 다리를

    새로 만들어 주었어요.</p>
    <br><br>

    <footer>
      <div class="footer">
        <a href="https://www.instagram.com/">
          <img src="instagram.jpeg" width="50" height="50" style="border-radius:50%;border-style:solid; border-width:6px;">
        </a>
          <a href="https://tr.linkedin.com/">
            <img src="linkedin.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">  
          </a>
        <a href="https://web.whatsapp.com/">
          <img src="whatsapp.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">
        </a>
        </div>
    </footer>
  </body>
</html>
