<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> İspanyolca </title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      body {
        background-color:rebeccapurple;
      }
      header {
        background-color:purple;
        padding:10px;
      }
      a {
        color: floralwhite;
        padding:10px;
        font-family: "Poppins", sans-serif;
      }
      img {
        margin-left:30px;
        border-radius:50%;
        border-style:solid;
        border-color:rebeccapurple;
      }
      p {
        color:floralwhite;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      footer{
        background-color:purple;
        padding:10px;
      }
      #footer {
        background-color:purple;
        padding:10px;
      }
      h1 {
        color: floralwhite;
        background-color:rebeccapurple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
      h3 {
        color:floralwhite;
        background-color:purple;
        text-align:center;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <img src="logom.jpg" width="100" height="100" style="border-radius:50%; border-color:purple; border-style:solid; border-width:4px;">
        <a href="/"> Anasayfa </a>
        <a href="/know"> Hakkında </a>
        <a href="/projects"> Projeler </a>
        <a href="/iletisim"> İletişim </a>
      </div>
    </header>
  <br><br>
    <h1> ÖRNEK ÇEVİRİ PROJESİ </h1><br>
    <h2> ORGİNAL METİN </h2><br>
    <p> İspanya, güney Avrupa’da bulunan zengin bir tarihe ve kültüre sahip bir ülkedir. Plajları, gastronomisi, festivalleri ve tarihi eserleri ile tanınır. Ayrıca mimarisi ve sanatı ile ünlüdür.
    Uzun zaman önce, ortaçağ İspanya’sında, Alfonso adlı bir kral müreffeh ve güçlü bir krallığa hükmediyordu. Alfonso, hükümdarlığı sırasında halkını yabancı işgalcilerden korumak için büyük kaleler ve surlar inşa etti. Ayrıca ticareti ve sanatı destekledi, Avrupa’nın her yerinden sanatçıları ve zanaatkârları sarayına çekti.
    Ancak Kral Alfonso, yalnızca krallığının güvenliği ve ilerlemesinden endişe duymuyordu, aynı zamanda dine de büyük ilgi duyuyordu ve bölge genelinde, günümüzde hala hayranlık uyandıran dini sanatlarla dolu kilise ve manastırların inşasını destekledi.
    Ancak Afonso’nun saltanatı, zorlukları da beraberinde getirdi. Bir gün, bir düşman ordusu krallığı işgal etti ve şehirleri ve kasabaları yağmaladı. Kral Alfonso ve ordusu işgalcilere karşı cesurca savaştı, ancak çok geçmeden dezavantajlı durumda olduklarını anladılar.
    O sırada, gençliğinden beri krala hizmet etmiş olan Rodrigo adında cesur bir şövalye, düşmanı yenmek için cüretkar bir planla kralın huzuruna çıktı. Rodrigo, krallığın sakinlerine katılmayı ve işgalciye karşı profesyonel askerler olarak değil, evlerini savunmaya istekli vatandaşlar olarak savaşmayı teklif etti.
    Kral Alfonso planı kabul etti ve Rodrigo ile birlikte krallık halkını savaşa katılmaları için seferber etti. Birlikte düşmanı yenmeyi ve özgürlüklerini yeniden kazanmayı başardılar.
    Rodrigo ve Kral Alfonso’nun hikayesi nesilden nesile aktarılan bir efsane haline geldi ve cesaretleri ve kararlılıkları İspanya’nın ve halkının özünün bir sembolü haline geldi. Bugün bile bu tarihi olay, İspanyol halkının zorluklar karşısında birliğinin ve direniş ruhunun bir işareti olarak kutlanıyor.
    İspanya, büyük antik anıtlarından festivallerine ve geleneklerine kadar tarih ve kültür dolu bir yer olmasının yanı sıra plajları, şehirleri, gastronomisi ve dost canlısı insanları ile çok popüler bir turizm merkezi olmaya devam ediyor.

</p><br><br>

    <h2> İSPANYOLCA VERSİYON </h2><br><br>

    <p> España es un país con una rica historia y cultura, situado en el sur de Europa. Conocida por sus playas, su gastronomía, sus fiestas y sus monumentos históricos. Es también famosa por su arquitectura y su arte.

    Hace mucho tiempo, en la España medieval, un rey llamado Alfonso regnaba sobre un reino próspero y poderoso. Durante su reinado, Alfonso construyó grandes castillos y fortificaciones para proteger a su pueblo de los invasores extranjeros. También promovió el comercio y las artes, atrayendo a artistas y artesanos de toda Europa a su corte.</p>
    <p> Pero el rey Alfonso no sólo se preocupaba por la seguridad y el progreso de su reino, también tenia un gran interés en la religión, y promovió la construcción de iglesias y monasterios en todo el territorio, llenos de arte religioso que aún se pueden admirar en la actualidad.
      Sin embargo, el reinado de Alfonso no estuvo exento de desafíos. Un día, un ejército enemigo invadió el reino y saqueó las ciudades y los pueblos. El rey Alfonso y su ejército lucharon valientemente contra los invasores, pero pronto se dieron cuenta de que estaban en desventaja.
      Fue entonces cuando un valiente caballero llamado Rodrigo, que había servido al rey desde su juventud, se presentó ante el rey con un plan audaz para vencer al enemigo. Rodrigo propuso unirse a los habitantes del reino y luchar contra el invasor, no como soldados profesionales, sino como ciudadanos dispuestos a defender su hogar.
      El rey Alfonso aceptó el plan y, junto con Rodrigo, movilizó a la gente del reino para unirse a la lucha. Juntos, lograron derrotar al enemigo y recuperar su libertad.
      La historia de Rodrigo y el rey Alfonso se convirtió en una leyenda que se transmitió de generación en generación, y su valentía y determinación se convirtió en un símbolo de la esencia de España y su gente. Aun hoy en día, se celebra ese episodio histórico como una muestra de la unidad y el espíritu de resistencia del pueblo español ante la adversidad.
      España sigue siendo un lugar lleno de historia y cultura, desde sus grandes monumentos antiguos, hasta sus fiestas y tradiciones, así como un destino turístico muy popular por sus playas, ciudades, gastronomía y su amable gente.
</p>
    <br><br>

    <footer>
      <div class="footer">
        <a href="https://www.instagram.com/">
          <img src="instagram.jpeg" width="50" height="50" style="border-radius:50%;border-style:solid; border-width:6px;">
        </a>
          <a href="https://tr.linkedin.com/">
            <img src="linkedin.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">  
          </a>
        <a href="https://web.whatsapp.com/">
          <img src="whatsapp.png" width="50" height="50" style="border-radius:50%; border-style:solid; border-width:6px;">
        </a>
      </div>
    </footer>
  </body>
</html>