<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizi</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&display=swap" rel="stylesheet">
    <style>
        body{
            background-image:url("film.jpg");
        }
        header{
            background-color:lightpink;
            padding:10px;
        }
        a{
            color:darkred;
            padding:15px;
            font-family: "Jersey 10", sans-serif;
        }
        footer{
            background-color:lightpink;
            padding:10px;
        }
        .container {
            display:flex;
            justify-container:space between;
        }
        .box {
            text-align:center;
            margin:10px;
        }
        .box img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .box a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }

        .shape {
            display:flex;
            justify-container:space between;
        }
        .circle {
            text-align:center;
            margin:10px;
        }
        .circle img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .circle a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        .paint {
            display:flex;
            justify-container:space between;
        }
        .pen {
            text-align:center;
            margin:10px;
        }
        .pen img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .pen a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        h1{
            text-align:center;
            color:white;
            font-family: "Jersey 10", sans-serif;
        }
        p{
            text-align:center;
            color:darkred;
            font-family: "Jersey 10", sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="blue.jpg"wdith="100" height="100" style="border-radius:50%;">
            <a href="/"> Anasayfa </a>
            <a href="/film"> Film </a>
            <a href="/drama"> Dizi </a>
            <a href="/iletisim"> İletişim </a>
        </div>
    </header>

     <h1> DİZİLER </h1>
    
    <div class="container">
        <div class="box">
            <img src="dizi1.webp">
            <a href="https://www.dizigom1.tv/dizi-izle/trans-siberian-pathfinders/">Trans-Siberian Pathfinders</a>
        </div>
        <div class="box">
            <img src="dizi2.jpeg">
            <a href="https://www.dizigom1.tv/i-am-not-a-robot-1-sezon-1-bolum-hd1/">I'm not a Robot </a>
        </div>
        <div class="box">
            <img src="dizi3.jpeg">
            <a href="https://asyafanatiklerim.com/bolum/strong-woman-do-bong-soon-1-bolum-nw/">Strong Woman Do Bong Soon</a>
        </div>
        <div class="box">
            <img src="dizi4.jpeg">
            <a href="https://asyafanatiklerim.com/bolum/queen-of-tears-1-bolum-izle/">Queen of Tears</a>
        </div>
        <div class="box">
            <img src="dizi5.jpeg">
            <a href="https://asyafanatiklerim.com/bolum/unlock-my-boss-1-bolum-izle/">Unlock My Boss</a>
        </div>
        <div class="box">
            <img src="dizi6.jpeg">
            <a href="https://www.dizigom1.tv/full-house-1-sezon-1-bolum-hd1/">Full House </a>
        </div>
    </div>
    <div class="shape">
      <div class="circle">
          <img src="dizi7.jpeg">
          <a href="https://asyafanatiklerim.com/bolum/nevertheless-5-bolum-izle-v8/">Nevertheless</a>
      </div>
        <div class="circle">
              <img src="dizi8.jpg">
              <a href="https://asyafanatiklerim.com/dizi/night-has-come/">Night has Come </a>
          </div>
        <div class="circle">
              <img src="dizi9.jpg">
              <a href="https://asyafanatiklerim.com/dizi/doctor-slump/">Doctor Slump </a>
          </div>
        <div class="circle">
              <img src="dizi10.jpg">
              <a href="https://asyafanatiklerim.com/dizi/mimicus/">Mimicus</a>
          </div>
        <div class="circle">
              <img src="dizi11.jpg">
              <a href="https://asyafanatiklerim.com/dizi/check-out-the-event/">Check Out The Event</a>
          </div>
        <div class="circle">
              <img src="dizi12.jpg">
              <a href="https://asyafanatiklerim.com/dizi/the-real-has-come/">The Real Has Come</a>
          </div>
    </div>
    <div class="paint">
        <div class="pen">
            <img src="dizi13.jpg">
            <a href="https://asyafanatiklerim.com/dizi/the-story-of-parks-marriage-contract/">The Story Of Park's Marriage Contract</a>
        </div>
        <div class="pen">
            <img src="dizi14.jpg">
            <a href="https://asyafanatiklerim.com/dizi/touch-your-heart-nw/">Touch Your Heart</a>
        </div>
        <div class="pen">
            <img src="dizi15.jpg">
            <a href="https://asyafanatiklerim.com/dizi/so-i-married-an-anti-fan-v5/">So I Married An Anti-Fan</a>
        </div>
        <div class="pen">
            <img src="dizi16.jpg">
            <a href="https://asyafanatiklerim.com/dizi/sweet-family/">Sweet Family</a>
        </div>
        <div class="pen">
            <img src="dizi17.jpg">
            <a href="https://asyafanatiklerim.com/dizi/racket-boys/">Racket Boys</a>
        </div>
        <div class="pen">
            <img src="dizi18.jpg">
            <a href="https://asyafanatiklerim.com/dizi/undercover-v7/">Undercover</a>
        </div>
    </div>

    <footer>

     <p> Bu Sayfa WatchDude'a aittir &copy; 2024 </p>
        
    </footer>
</body>