<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
     <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&display=swap" rel="stylesheet">
    <style>
        body {
             background-image:url("film.jpg");
         }
        header{
            background-color:lightpink;
            padding:10px;
        }
        a {
            color:darkred;
            padding:15px;
            font-family: "Jersey 10", sans-serif;
        }
        footer {
            background-color:lightpink;
            padding:10px;
        }
        .container {
            display:flex;
            justify-container:space between;
        }
        .box {
            text-align:center;
            margin:10px;
        }
        .box img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .box a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }

        .include {
            display:flex;
            justify-container:space between;
        }
        .square {
            text-align:center;
            margin:10px;
        }
        .square img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .square a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        h1{
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        p{
            color:darkred;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        .plan {
            display:flex;
            justify-container:space between;
        }
        .tie {
            text-align:center;
            margin:10px;
        }
        .tie img{
            max-width:100%;
            height:auto;
            border-radius:25%;
        }
        .tie a {
            margin-top:10px;
            font-size:14px;
            color:white;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="blue.jpg" width="100" height="100" style= "border-radius:50%;">
            <a href="/"> Ansayfa </a>
            <a href="/film"> Film </a>
            <a href="/drama"> Dizi </a>
            <a href="/iletisim"> İletişim </a>
        </div>
    </header>
    <h1> FİLMLER </h1>
    <div class="container">

        <div class="box">
            <img src="evajanı.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/ev-ajani-keuroseu/"> Ev Ajanı </a>
        </div>
     
        <div class="box">
            <img src="terssoygun.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/ters-soygun-huan-qian/"> Ters Soygun </a>
        </div>

        <div class="box">
           <img src="gece.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/gece-yuzusu-night-swim/"> Gece Yüzüşü </a>
        </div>

        <div class="box">
          <img src="garfield.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/garfield-the-garfield-movie/"> Garfield </a>
        </div>

        <div class="box">
          <img src="snowy.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/karli-gun-the-snowy-day/"> The Snowy Day </a>
        </div>

        <div class="box">
          <img src="ülke.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/karlar-ulkesi-2/"> Karlar Ülkesi 2 </a>
        </div>
    </div>

    <div class="include">
        <div class="square">
            <img src="her.webp">
            <a href ="https://www.fullhdfilmizlesene.de/film/tangled-her-zamankinden-once/">Tangled: Before Ever After </a>
        </div>
   <div class="square">
    <img src="mo.webp">
       <a href="https://www.fullhdfilmizlesene.de/film/moana-fh-izle/"> Moana </a>
   </div>
        <div class="square">
            <img src="ansızın.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/bir-gece-ansizin-svaniti-nella-notte/"> Bir Gece Ansızın </a>
        </div>
        <div class="square">
            <img src="üçlü.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/uclu-tehlike-triple-threat/"> Üçlü Tehlike </a>
        </div>

        <div class="square">
            <img src="artık.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/artik-buyuduk-izle/"> Artık Büyüdük </a>
        </div>

        <div class="square">
            <img src="kaçak.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/kacik-astronot-space-cadet/"> Kaçık Astronot </a>
        </div>
        
    </div>

    <div class="plan">

        <div class="tie">
            <img src="bulmaca.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/miras-bulmacasi-spadek/"> Miras Bulmacası </a>
        </div>

        <div class="tie">
            <img src="sonic.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/kirpi-sonic-3-sonic-the-hedgehog-3/"> Sonic 3 </a>
        </div>

    <div class="tie">
        <img src="orman.webp">
        <a href="https://www.fullhdfilmizlesene.de/film/orman-cetesi-dunya-turu-les-as-de-la-jungle-2/"> Orman Çetesi: Dünya Turu </a>
    </div>

   <div class="tie">
       <img src="çılgın.webp">
       <a href="https://www.fullhdfilmizlesene.de/film/cilgin-dostum-finnik-finnik/"> Çılgın Dostum Finnik </a>
   </div>
   <div class="tie">
       <img src="aile.webp">
       <a href="https://www.fullhdfilmizlesene.de/film/super-aile-helt-super/"> Süper Aile </a>
   </div>

        <div class="tie">
            <img src="hayali.webp">
            <a href="https://www.fullhdfilmizlesene.de/film/hayali-arkadaslar-if/"> Hayali </a>
        </div>
</div>

    <footer>

        <p> Bu Sayfa WatchDude'a aittir &copy; 2024</p>
        
    </footer>
</body>