<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
     <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+10&display=swap" rel="stylesheet">
    <style>
        body{
            background-image:url("film.jpg");
        }
        header{
            background-color:lightpink;
            padding:10px;
        }
        a {
            color:darkred;
            padding:15px;
            font-family: "Jersey 10", sans-serif;
        }
        img{
            border-radius:50%;
        }
        footer {
            background-color:lightpink;,
            padding:10px;
        }
        p{
            color:darkred;
            text-align:center;
            font-family: "Jersey 10", sans-serif;
        }
        h1 {
            text-align:center;
            color:white;
            font-family: "Jersey 10", sans-serif;
        }
        h2 {
            text-align:center;
            color:white;
            font-family: "Jersey 10", sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <img src="blue.jpg" width0="100"height="100">
            <a href="/">Anasayfa</a>
            <a href="/film"> Film </a>
            <a href="/drama"> Dizi </a>
            <a href="/iletisim"> İletişim </a>
        </div>
    </header>
      <h1> DİZİ/FİLM SİTEMİZE HOŞGELDİNİZ!</h1>
      <h2> KEYİFLİ SEYİRLER DİLERİZ! </h2>
      <h2> İYİ EĞLENCELER!</h2>
      <h2> DUDE!:)</h2>


    <footer>

     <p> Bu Sayfa WatchDude'a aittir &copy; 2024</p>
        
    </footer>
</body>